<style>
  label, input {
      display: block;
  }
  span.helptext {
      display: none;
  }
</style>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Driver Registration</title>
</head>

<body>
  <h2>Driver Registration Form</h2>
  <form action="{% url 'driver_register' %}" method="POST" novalidate>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register" class="btn btn-block btn-primary">
  </form>

  <a href="{% url 'login' %}">Back to login</a>
</body>

</html>