<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Passenger Registration</title>
</head>

<body>

    <h2> Passenger Registration Form</h2>
    <form action="{% url 'passenger_register' %}" method="POST" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" class="btn btn-block btn-primary">
</body>

</html>